.signup {
    height: 80vh;
    width: 550px;
    background-color: lightgray;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 17px;
}

.signup h1 {
    text-align: center;
}

.signup form {
    text-align: center;
}

.signup form label {
    margin-right: 40px;
}

.signup form input {
    margin-bottom: 20px;
}

button {
    height: 36px;
    width: 85px;
    margin-top: 11px;
    background: transparent;
    border-radius: 16px;
    border-color: teal;
    cursor: pointer;
    margin-left: 16px;
    font-size: inherit;
}